<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Not Bhavik</title>
  </head>
  <body>
    <center>
      <a class="title" href="./" style="text-decoration: none">
        <h1>Hello!! I am Bhavik 👋</h1>
      </a>
      <br />
      <h3>Email me at <a href="mailto:iam@notbhavik.dev">iam@notbhavik.dev</a></h3>
      <h3>It's probably not working yet! 👾</h3>
    </center>
  </body>
</html>
